* :not(input)
{
    text-align: center;
}

#kesz
{
    display: none;
}

#bemenet
{
    font-size: 2em;
    width: 95%;
    padding: 10px;
}

#szoveg
{
    font-size: 1.8em;
    font-weight: bold;
}

#ido
{
    font-size: 2em;
}

#szoveg
{
    user-select: none;
    -moz-user-select: none;
}

#bar
{
    width: 95%;
    margin-top: 30px!important;
    border-radius: 5px;
    border: 1px solid black;
    padding: 2px;
    margin: 0 auto;
    display: block;
}

#progress
{
    background: green;
    width: 0%;
    height: 50px;
    border-radius: 5px;
}